{% extends "base.html" %}
{% load static %}

<!-- {% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %} -->

{% block content %}
<div class="container contactForm">
    <div class="row">
        <div class="col-12 ">
            <hr>
            <h2 class="contactUs">Contact Us</h2>

        </div>
    </div>

    <div class="row formContact">
        <div class="col-12">
            <form method="POST" action="" class="form mb-2">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="text-right">

                    <button class="btn btn-black rounded-0" type="submit">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}