@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Quicksand:wght@300&display=swap');




html{
    height: 100%;
}

body{
    
    background-size: cover !important;
    background: url('/media/body-image.jpeg') no-repeat center ;
    height: calc(100vh - 164px);
   
}
button{
    border:none;
}
 .sale-button{
    color: white;
    font-weight: 900;
    font-family: Caveat;
    font-size: 30px;

 }
 .text-font{
    font-family: Quicksand;
    color: white;
    font-weight: 900;
 }

.btn-sale{
    background-color:#1d262c78;
    border-color:#1d262c78;
   
}
a {
    color: black;
    text-decoration: none;
    background-color: transparent;
    
}

.title{
     font-weight: 900;
     font-size: 30px;
     font-family: Caveat;
     

}

.navbar{
    background-color: rgb(249, 246, 246);
}
.container-header{
width: 100%;
margin-right: auto;
margin-left: auto;
}

.carousel-item{
    height: 600px;
}

.contact{
    background-color: rgb(249, 246, 246);
    border: none;
    font-size: 20px;
    font-family: Quicksand;
}

.contactUs{
    font-family: Quicksand;
    font-size:30px;
}
.formContact{
    font-family: Quicksand;
}
.contactForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.carouselText{
    font-family: Quicksand;
    font-size: 40px;
    background-color: white;
    font-weight: 900;
    border-radius: 0%;
    border: 1px solid black;

}
.dropdown-toggle{
    border: none;
    background-color: rgb(249, 246, 246);
    margin-top: 8px;
    font-size: 20px;
    font-family: Quicksand;

}

.dropdown-item{
    font-family: Quicksand;
}

.btn-outline-black{
    background: white;
    color: black !important;
    border: 1px solid black; 
}

#carouselExampleCaptions{
    height: 600px;
}

footer{
    background-color:rgb(107 105 105);
    font-family: Quicksand;
    font-weight: 700;
}



.footer-title{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 50px;
    color: black;
    font-weight: 700;

}
.container-footer{
    margin-left: 15px;
}
h5{
    text-decoration: underline;
    font-weight: 700;
}

li{
    list-style: none;
}


.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}
@media (min-width: 1200px){
    .container{
        max-width: 80%;
    }
}

@media(min-width: 992px){
    /* .fixed-top-desktop-onlu{
        position: fixed;
        top: 0;
        right: 0px;
        left: 0px;
        z-index:1030;
    } */
    .header-container{
        padding-top: 164px;
    }
}

   @media(max-width: 560px){
     .row-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    
}  
.column-footer{
    max-width: 50%;
}
}I  

