@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Quicksand:wght@300&display=swap');




html{
    height: 100%;
}

.body{
    
    background-size: cover !important;
    background: url('/media/body-image.jpeg') no-repeat center ;
    height: calc(100vh - 164px);
   
}
/*-----buttons-----*/
button{
    border:none;
}

.sale-button{
    color: white;
    font-weight: 900;
    font-family: Caveat;
    font-size: 30px;

 }

.btn-sale{
    background-color:#1d262c78;
    border-color:#1d262c78;
   
}

/* .btt-link,
.update-link,
.remove-item {
    cursor: pointer;
} */

.dropdown-toggle{
    border: none;
    background-color: rgb(249, 246, 246);
    margin-top: 8px;
    font-size: 20px;
    font-family: Quicksand;

}

.dropdown-item{
    font-family: Quicksand;
}

.btn-outline-black{
    background: white;
    color: black !important;
    border: 1px solid black; 
}



p{
    font-family: Quicksand;
}

/*----headings---*/
h1{
    font-family: Caveat;
}

h5{
    text-decoration: underline;
    font-weight: 700;
}

li{
    list-style: none;
}

.review-heading{

    font-family: Caveat;
}

/*---messages---*/

.message{

    font-family: Caveat;
    font-size: 25px;
}

/*----accounts----*/
.signup{
    margin-bottom:150px;
}

.login{
    margin-bottom:150px;
}


.account{
    margin-bottom: 300px;
}
 
.text-font{
    font-family: Quicksand;
    color: white;
    font-weight: 900;
 }

/*----nav---*/
a {
    color: black;
    text-decoration: none;
    background-color: transparent;
    
}

.title{
     font-weight: 900;
     font-size: 30px;
     font-family: Caveat;
     

}

.navbar{
    background-color: rgb(249, 246, 246);
}
 nav{
    display: flex;
    justify-content: space-around;
 }

.nav-links.nav-active {
    display: block !important;
    background: #00000042;
    z-index: 1000;
    height: calc(30vh) !important;
}

.burger div{
      width: 25px;
      height: 5px;
      background-color: black;
      margin: 5px;
 }

 .burger{
    display: none;
 }
 .dropdown-menu {
    position: absolute;
    top: 100%;
    right:0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
}

/*---Review----*/

textarea {
    overflow: auto;
    resize: vertical;
    width: 100%;
}




/*----contact form---*/
.contact{
    background-color: rgb(249, 246, 246);
    border: none;
    font-size: 20px;
    font-family: Quicksand;
    margin-top: 10px;

}


.contactUs{
    font-family: Quicksand;
    font-size:30px;
}
.formContact{
    font-family: Quicksand;
}


/*----icon---*/
.fab, .far {
    font-weight: 400;
    font-size: 30px;
}
/*-----footer----*/
footer {
    background-color: rgb(176 172 172);
    font-family: Quicksand;
    font-weight: 700;
   
}



.footer-title{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 50px;
    color: black;
    font-weight: 700;

}
.container-footer{
    margin-left: 15px;
}


/*----media query---*/

@media(max-width: 1150px){

.nav-links{
        position: absolute;
        left:0px;
        height:50vh;
        top:8vh;
        background-color: #ffffff66;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(5%);
        transition: transform 0.5s ease-in;
    }


body{
    overflow-x: hidden;
}

.burger{
    display: block;
    position: absolute;
    left: 0px;
}

.nav-links{
    transform: translateX(0%);
}

.nav-link {
    display: block;
    padding: 0;
}



.navbar-brand{
display: flex;
padding-top: 0.3125rem;
padding-bottom: 0.3125rem;
margin-right: 1rem;
font-size: 2rem;
line-height: inherit;
white-space: nowrap;
margin:0 auto;
}

}

.account-bag{
        position: absolute;
        right: 0px;
       
    }
.list-inline-item{
    font-size:0.8rem
}



@media(max-width: 650px){
    .form-inline{
        display: none;
    }
}


@media(max-width: 560px){
     .row-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
  
    
}  
.column-footer{
    max-width: 50%;
}

.navbar-brand{
    font-size: 1.8rem;
    
}





}I  



